.header
{
    text-align: center;
}
.container
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: aqua;
    padding: 10px;
    grid-column-gap: 20px;
    grid-gap: 20px;
}
#item
{
    border: 1px solid black;
    padding: 20px;
}